body{
  background-color: 
  rgb(213, 234, 236);
}
.dropdown-menu {
  min-width: 200px; /* Setează lățimea minimă  background-color: rgb(199, 231, 233);*/
  text-align: left;
  font-family: 'Times New Roman', Times, serif/* Opțional, pentru centrarea textului */
}
.books {
    font-size: 250px;


  }



  .books_div {
    padding-top: 50px;
    padding-left: 10px;

  }
  .BigTitle{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Ink Free", cursive;
    font-weight: bold;
    text-align: left;
    font-size: 40px;
   
  }
  .card-text{
    font-family: "Ink Free", cursive;
    font-weight: bold;
    
  }
  .card-title{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
  }
  .r-link{
    padding-left: 20px;
    
  }

  .setari{
    padding-left: 50px;
  }

  .card{
    
  
    width: 20rem;
    
  
  }
  .statusProfil{
    
    display: flex; /* Activează Flexbox */
    justify-content: center;
  }
